.logo-section {
  width: 100vw;
  height: 100vh;
  font-family: "Silkscreen", sans-serif;
}

.background {
  width: 100vw;
  height: 100vh;
  filter: blur(4px);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://cdn.discordapp.com/attachments/1194764254063116498/1295870385996431390/1151379.jpg?ex=671038d8&is=670ee758&hm=7eb2b3faeda25a3a6019944856dfda003c75d35f575440b660097785bc859070&);
  /* clip-path: polygon(40% 0, 75% 0, 60% 100%, 20% 100%); */
}

@media only screen and (min-width: 890px) {
  .background {
    clip-path: polygon(40% 0, 75% 0, 60% 100%, 20% 100%);
  }
}

.logo-blur-1st {
	animation: tracking-in-expand-fwd-top 800ms cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.suptext-blur-2nd {
  animation: tracking-in-expand-fwd-top 600ms cubic-bezier(0.550, 0.085, 0.680, 0.530) 800ms both;
}

@keyframes tracking-in-expand-fwd-top {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
